html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	text-rendering: optimizeLegibility;
	margin: 0;
}

img.alignright {
	float: right;
}

img.alignleft {
	float: left;
}

img.aligncenter {
	clear: both;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

body {
	background-color: #ffffff;
	border-style: none;
}

body,
p,
a,
a:hover {
	color: #000000;
}

a,
a:hover {
	text-decoration: none;
	border: none;
	border-style: none;
	box-shadow: none;
}

/* -- Content -- */
html {
	background-color: #1b1d22;
}

body.page {
	background-color: #1b1d22;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 28px;
	line-height: 44px;
	color: #999999;
}
body.page p {
	margin-bottom: 28px;
	color: #fff;
	font-weight: 100;
}
body.page p strong {
	font-weight: 700;
}

.content {
	width: 100%;
	max-width: 1080px;
	padding: 60px 40px 40px;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
}
.main {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	display: flex;
	flex-direction: column;
	margin-bottom: 28px;
}
.logo h1 img {
	max-width: 150px;
	height: auto;
}

.bio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 70%;
	margin-bottom: 28px;
}

.bio p {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0;
	font-weight: 100;
}
.bio p:first-of-type {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 90%;
	font-size: 37px;
	letter-spacing: -1px;
	line-height: 48px;
}
.bio p:first-of-type img {
	max-width: 80px;
	height: 100%;
	margin: 15px;
	box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
	-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
	border-radius: 100%;
}
.bio a {
	color: #cccccc;
	font-weight: 500;
}
.bio a:hover {
	color: #ffffff;
}

@media (max-width: 1080px) {
	.bio {
		max-width: 100%;
	}
	.bio p {
		font-size: 18px;
		line-height: 30px;
	}
	.bio p:first-of-type {
		max-width: 100%;
		font-size: 30px;
		line-height: 42px;
	}
}
@media (max-width: 960px) {
	.main {
		height: 100%;
	}
}
@media (max-height: 600px) {
	.main {
		height: 100%;
	}
}
@media (max-width: 600px) {
	.bio p:first-of-type {
		font-size: 26px;
		line-height: 38px;
	}
}
.network {
	display: flex;
	flex-direction: column;
	margin-top: auto;
}
.network ul {
	margin-top: auto;
}
.network ul li {
	display: inline-block;
	margin-right: 8px;
}
.network ul li a {
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.svg-icon {
	padding: 4px;
	width: 22px;
	height: 22px;
	margin: 0;
	display: block;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
	fill: #999999;
	transition: 1s;
}
.svg-icon circle {
	stroke: #999999;
	stroke-width: 1;
}
a:hover .svg-icon path,
a:hover .svg-icon polygon,
a:hover .svg-icon rect {
	fill: #ffffff;
	transition: 0.1s;
}

.credit {
	color: #aaa;
	font-size: 12px;
	line-height: 14px;
	margin-top: 12px;
}
.credit p.copyright {
	color: #888;
	font-size: 12px;
	line-height: 14px;
	font-weight: 300;
	opacity: 0.75;
}
.credit p.copyright a {
	color: #aaa;
}
.credit p.location {
	color: #aaa;
	margin-bottom: 8px;
	font-weight: 500;
	display: flex;
	align-items: center;
}
.credit p.location em {
	color: #ccc;
	padding-right: 4px;
}
.credit p.location a .svg-icon {
	color: #ccc;
	width: 10px;
}
#blackScreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 9999;
	display: none;
}